/* fonts css  */

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("./fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./fonts/roboto-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("./fonts/roboto-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/roboto-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* body css  */

body {
  font-family: "Roboto";
}
.top-navigation {
  padding: 15px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 50%;
  width: 100%;
  text-align: center;
  max-width: 991px;
  transform: translate(-50%, 0);
  box-shadow: 0px 1px 4px rgb(230 226 226 / 80%);
}
.top-navigation .logo img{
  max-width: 100px;
}
.main-wrapper {
  max-width: 991px;
  width: 100%;
  padding: 15px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 6%; 
}
.main-body {
  margin-top: 30px;
}
.custom-form{
    position: relative;
    margin-bottom: 15px;
}
.custom-form label{
    position: absolute;
    top: 50%;
    background: #fff; 
    left: 15px;
    margin-bottom: 0;
    transform: translate(0, -50%);
    font-size: 16px;
    transition: .4s all ease-in-out;
    color: #c9c9c9;
    pointer-events: none;
}
.custom-form .form-input{
    font-size: 16px;
    color: #000000;
    width: 100%;
    padding: 4px 15px;
    height: 50px; 
    border-radius: 4px; 
    border: 1px solid #c9c9c9;
}
.custom-form .form-input:focus{
    color: #000;
    border-color: #000;
} 

.form-input:placeholder-shown + label {
    position: absolute;
    top: 50%;
    background: #fff; 
    left: 15px;
    margin-bottom: 0;
    transform: translate(0, -50%);
    font-size: 16px;
    transition: .4s all ease-in-out;
    color: #c9c9c9; 
    pointer-events: none;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  .form-input:focus{
      outline-color: #000000;
  }
  .form-input:focus::-webkit-input-placeholder {
    opacity: 0.4;
  }
  .form-input:not(:placeholder-shown) + label,
.form-input:focus + label {
    color: #000000;
    top: 0;
    padding: 0 15px;
    font-size: 14px; 
}
/* camera css  */

.camera_wrap{
    margin-bottom: 30px;
    position: relative;
} 
.register-form .custom-form{
    max-width: 650px;
    margin: 0 auto 15px;
}
#cont{
    position: relative; 
    overflow: hidden;
    padding: 5px;  
    margin: 0 auto; 
  }
  #cont:hover #control{
      transform: translate(0, 0);
  }
  #video{
      border: 1px solid #cccccc;
      background-color: #fff;
      padding: 4px; width: 100%;
  }
  .son{
    position: absolute;
    top:0;
    left:0;  
    width: 100%;
  }  
  #control{
    position:absolute; 
    left:0; 
    z-index: 50;  
    color:#fff;
    text-align: center; 
    transition: .3s all ease-in-out;
    transform: translate(0, 150%);
  }
  #snap{
    background-color: #1fc142;
    color: #fff; 
  }
  #retake{
    background-color: #4045d5;
    color: #fff;
  }
  .download-btn{
      margin: 30px 0;
      text-align: center;
  }
  #close{
    background-color: #2a2a2a;
    color: #fff; 
  }
  .hov{
    opacity:.8;
    transition: all .5s;
  }
  .hov:hover{
    opacity:1; 
    font-weight: bolder;
  } 
.button-group{ 
    display: flex;
    justify-content: center;
}
.button-group .btn + .btn{
    margin-left: 15px;
}
.main-footer{
  position: absolute;
    left: 15px;
    z-index: 99;
    top: 15px;
}
.copyright-text {
  font-size: 12px;
  text-align: center;
  color: #cccccc;
  margin-top: 0px;
} 
.face-thumbnail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.face-wrap{
  max-width: calc(25% - 7px);
  flex: 1 1 calc(25% - 7px);
  height: 150px;
  border: 1px solid #aaccaa;
}
.face-wrap img{max-width: 100%; height: auto;}
@media (max-width: 767px){
    #cont{
        width: 100% !important;
        min-height: 225px !important;
        overflow: inherit;
    }
    .main-wrapper{
        padding-top: 20%;
    }
    .face-thumbnail{
      margin-top: 70px;
    }
    #video, .son{width: 100%;}
    #control{
        position: relative;
        margin-top: 15px;
        top: 100% !important;
        transform: none;
    }
    .register-form{
        margin-top: 70px;
    }
}